---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
const pageTitle = " My Astro Learning Blog";
const pageDescription = "Welcome to my blog where I share my thoughts and experiences.";
---

<BaseLayout
    pageTitle={pageTitle}
    pageDescription={pageDescription}
>
<p>
    This is where I will share my thoughts, experiences, and insights on various topics. Stay tuned for updates!
</p>
<ul>
   {allPosts.map((post:any) => (
       <BlogPost
              title={post.frontmatter.title}
              url={post.url}
       />
   ))}
</ul>
</BaseLayout>