---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const pageDescription = "Welcome to my Astro site, where I share my journey and projects.";
---
<BaseLayout 
	pageTitle={pageTitle}
	pageDescription={pageDescription}
>
	<h2>My Awesome blog subtitle</h2>
</BaseLayout>